<div class="col-md-6 col-sm-6">
  <h2>Discussions</h2>
  <%= render partial: 'form' %>
  <h2>Current Discussions</h2>
  <div class="well">
    <% @discussions.each do |discussion| %>
      <p><%= link_to discussion.title, project_discussion_path(@project.id, discussion.id) %></p>
      <% if discussion.description %>
      <h6><%= discussion.description %></h6>
    <% end %>
    <hr>
    <% end %>
  </div>

</div>