
<%= form_for @task, html: {role:"form"} do |f| %>
<div class="form-group">
  <label> Title</label>
  <%= f.text_field :title, class: "form-control" %>
</div>
<div class="form-group">
  <label for=":description">Due Date</label>
  <%= f.date_field :due_date, class: "form-control"%>
</div>
<div class="form-group">
  <%= f.submit "#{@task.persisted? ? "Update" : "Create"}", class: "form-control"%>
</div>
<% end %>