<div class="row">
  <div class="col-md-2 col-sm-0"></div>
  <div class="col-md-8 col-sm-12">
    <h1>Tasks</h1>
    <%= link_to "New Task", new_task_path, class: "btn btn-default" %>
    <hr>
    <h2>Current Tasks</h2>
    <hr>
    <% @tasks.each do |task| %>
    <h3><%= link_to task.title, task %></h3>
    <hr>
    <%end %>
  </div>
  <div class="col-md-2 col-sm-0"></div>
</div>