<div class="row">
  <div class="col-md-2"></div>
    <div class="col-md-8">
      <h1>About FlOw</h1>
      <p>This project was started about an hr ago as a alternative to other Project Managing software like Basecamp and KanBan Flow</p>
      <a href="http://imgur.com/l6R1Bd9"><img src="http://i.imgur.com/l6R1Bd9.jpg" title="source: imgur.com" /></a>
    <div class="col md-2"></div>
  </div>
</div>