<div class="jumbotron">
  <h1>Welcome to FlOw</h1>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
  <p>Start by adding some projects</p>
  </div>
  <div class="col-md-2"></div>
</div>