.col-md-6
  = render partial: 'side_nav', locales: { search_params: @search_params, project: @projects }
.col-md-6.animated.fadeInRight
  = render partial: 'project_info', locales: {project: @project}

