$navbar-border-radius: 0px;
$navbar-inverse-bg: #00FF59;
$navbar-inverse-border: #3D6199;
$navbar-inverse-brand-color: #017F2D;
$navbar-inverse-brand-hover-color:#00FF59;
$navbar-inverse-brand-hover-bg:#007F2C;
$navbar-inverse-color:#145DCC;
$navbar-inverse-link-color:#007F2C;
$navbar-inverse-link-hover-color:#00FF59;
$navbar-inverse-link-hover-bg:#007F2C;
$navbar-inverse-link-active-color:#00FF59;
$navbar-inverse-link-active-bg:#CC2B14;

$font-family-sans-serif: 'Open Sans', sans-serif;

.btn {
  border-radius: 0px;
}
//$font-size-base:
// $navbar-inverse-link-disabled-color:;
// $navbar-inverse-link-disabled-bg