.container
  .navbar-header
    =link_to "#{fa_icon('magic')} FlOw".html_safe, root_path, class: "navbar-brand"
    / <a class="navbar-brand" href=<%=root_path %>> <%=fa_icon('magic') %> FlOw</a>
  .collapse.navbar-collapse
    ul.nav.navbar-nav
      li
        = link_to "Projects", projects_path
      li
        = link_to "About", about_path
      li
        .dropdown
          button.btn.btn-default.dropdown-toggle type="button" id="dropdownMenu1" data-toggle="dropdown"
            |MORE NAV
            span.caret
          ul.dropdown-menu role="menu" aria-labelledby="dropdownMenu1"
            li role="presentation"><%= link_to "About", about_path %></li>
            li role="presentation" class="divider"></li>
            li role="presentation"><%= link_to "About", about_path %></li>